.button{
-fx-background-color : #2D75E8;
}
.button:hover
{
-fx-background-color : #A1C1F4 ;
}
.button:pressed
{
-fx-background-color : #73A3EF ;
}
 
.text-field {
   -fx-background-color: #73A3EF , white , white;
   -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
 
.text-field:focused {
   -fx-background-color: #2D75E8 , white , white;
   -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
